body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-primary: #8f8f8f;
  --color-background: #1d1d1d;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}